/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
body {
  line-height: 1;
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: #f0f0f0;
  font-family: Helvetica Neue, Helvetica, Hiragino Sans, "ヒラギノ角ゴ ProN W3",
    Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
}
header,
main,
footer {
  max-width: 600px;
  margin: 0 auto;
}

/* header */

/*
.menu-area label {
  height: 40px;
}
.menu-area input,
.menu-area label {
  display: none;
}
.menu-area label {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  display: block;
  cursor: pointer;
}
.menu-area label::before {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  top: 12px;
  right: 12px;
  content: url(../../puril/images/header-menu-sp.png);
}
.menu-area .menu-item {
  position: absolute;
  top: 40px;
  right: 0;
  opacity: 0;
  width: 100%;
  border-bottom: 1px solid #e1ddcc;
  background: #fff;
  z-index: 1;
}
.menu-area li {
  position: relative;
  margin-top: 0;
  font-size: 16px;
  text-align: left;
  border-top: 1px solid #e1ddcc;
  overflow: hidden;
}
.menu-area li::after {
  position: absolute;
  top: calc(50% - 8px);
  right: 16px;
  color: #d6ceb4;
  font-size: 16px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
}
.menu-item a {
  display: block;
  padding: 1em;
  color: #13121e;
  text-decoration: none;
}
.menu-area input:checked + label + .menu-item {
  opacity: 1;
}
*/

.fa, .fas {
  font-weight:900 !important;
}

body {
  max-width: 600px;
  margin: 0 auto;
}

/*-- ハンバーガーメニュー  --*/
.datsumou-header-inner__navToggle {
  position: fixed;
  top: 14px;
  right: 10px;
  z-index: 103;
  display: block;
  width: 16px;
  height: 12px;
  border: none;
  background: transparent;
  text-align: center;
  cursor: pointer;
}

.datsumou-header-inner__navToggle span {
  position: absolute;
  left: 0;
  display: block;
  width: 16px;
  height: 1px;
  border-radius: 0.5px;
  background-color: #13121e;
  transition: 0.35s ease-in-out;
}

.datsumou-header-inner__navToggle span:nth-child(1) {
  top: 0;
}

.datsumou-header-inner__navToggle span:nth-child(2) {
  top: 6px;
}

.datsumou-header-inner__navToggle span:nth-child(3) {
  top: 12px;
}

.datsumou-header-inner__navToggle.active span:nth-child(1) {
  top: 6px;
  transform: rotate(-45deg);
}

.datsumou-header-inner__navToggle.active span:nth-child(2),
.datsumou-header-inner__navToggle.active span:nth-child(3) {
  top: 6px;
  transform: rotate(45deg);.datsumou-header-inner
}

.datsumou-header-inner__globalmenusp {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  z-index: 102;
  width: 260px;
  height: 100vh;
  background-color: #fff;
  box-sizing: border-box;
  transition: all 0.3s;
  overflow-y: scroll;
  overflow-x: hidden;
}

.datsumou-header-inner__globalmenusp.active {
  transform: translateX(0);
}

.datsumou-header-inner__globalmenusp__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background-color: #fbf9f7;
  border-bottom: 1px solid #ccc4a7;
}

.datsumou-header-inner__globalmenusp__logo img {
  display: block;
  width: 57.57px;
  height: auto;
}

.datsumou-header-inner__globalmenusp__linkboxs {
  display: block;
  width: 100%;
  height: auto;
}

.datsumou-header-inner__globalmenusp__linkbox {
  display: block;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e1e1e1;
  font-size: 15px;
}

.datsumou-header-inner__globalmenusp__link,
.datsumou-header-inner__globalmenusp__submenu a {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding-left: 15px;
  box-sizing: border-box;
  text-decoration: none;
  color: #13131e;
  line-height: 46px;
}
.datsumou-header-inner__globalmenusp__link {
  padding-left: 40px!important;
}
.datsumou-header-inner__globalmenusp__link::after,
.datsumou-header-inner__globalmenusp__submenu a::after {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  display: inline-block;
  color: #d6ceb4;
  font-size: 16px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
}
.datsumou-header-inner__globalmenusp__link.close:after {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
  display: inline-block;
  color: #d6ceb4;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
}
.datsumou-header-inner__globalmenusp__link.open:after {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
  display: inline-block;
  color: #d6ceb4;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f077";
}

.datsumou-header-inner__globalmenusp__link.close + .datsumou-header-inner__globalmenusp__submenu {
  display: none;
}
.datsumou-header-inner__globalmenusp__link[data-icon="home"]::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f015";
  color: #beba9b;
  font-size: 15px;
}
.datsumou-header-inner__globalmenusp__link[data-icon="ranking"]::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f521";
  color: #beba9b;
  font-size: 15px;
}
.datsumou-header-inner__globalmenusp__link[data-icon="search"] {
  background: url(../../puril/images/ico_search.svg) 15px center no-repeat;
  background-size: 15px auto;
}
.datsumou-header-inner__globalmenusp__link[data-icon="search_shop"] {
  background: url(../../puril/images/ico_shop.svg) 15px center no-repeat;
  background-size: 17px auto;
}
.datsumou-header-inner__globalmenusp__link[data-icon="contact"] {
  background: url(../../puril/images/ico_mail.svg) 15px center no-repeat;
  background-size: 17px auto;
}

.datsumou-header-inner__globalmenusp__submenu {
  background-color: #fbf9f7;
}
.datsumou-header-inner__globalmenusp__submenu li {
  border-top: 1px solid #e1e1e1;
  font-size: 13px;
}
.datsumou-header-inner__globalmenusp__submenu a {
  display: block;
}

.datsumou-header-inner__globalmenusp__sns {
  display: flex;
  padding: 20px 0;
  font-size: 24px;
}
.datsumou-header-inner__globalmenusp__sns__item {
  width: 25%;
  text-align: center;
  text-decoration: none;
  color: #6aadbf;
}
.datsumou-header-inner__globalmenusp__sns__item span {
  display: block;
  padding-top: 8px;
  color: #13131e;
  font-size: 12px;
}


/*-- ハンバーガーメニュー ここまで --*/

.datsumou-header {
  padding-top: 40px;
  background: #fff;
}
.datsumou-header-inner {
  /*
  position: relative;
  */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  border-bottom: 1px solid #e1ddcc;

  background-color: #fff;
  padding-right: 10px;
  padding-left: 10px;
  height: 40px;
}

.datsumou-header-inner .datsumou-header-inner__text{
  margin-left: 20px;
  font-size: 12px;
}


.datsumou-header-mv {
  background: url(../../puril/images/datsumouheader-bg-sp.jpg) no-repeat;
  background-size: 105%;
  height: 100%;
}
.datsumou-header-mv-inner {
  margin-left: 55%;
  padding-right: 15px;
  padding-top: 32%;
  padding-bottom: 0.7em;
  color: #13121e;
  font-size: 3.8vw;
  font-weight: 600;
  line-height: 1.2;
  /* text-shadow: 0 0 5px #f8f8f8; */
  text-align: left;
}
.datsumou-header-mv-inner__text--large {
  position: relative;
  font-size: 1.9em;
}
.datsumou-header-mv-inner__text--large::before {
  content: "・・・";
  position: absolute;
  top: -0.8em;
  left: 0;
  font-weight: normal;
}
.datsumou-header-mv-inner__text--middle {
  font-size: 1.5em;
}
.datsumou-header-mv-inner__text--small{
  display: block;
}
.datsumou-header-mv-inner__text-search__list {
  margin-top: 0.3em;
  padding-top: 0.4em;
  padding-bottom: 0.3em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: block;
}

.datsumou-main {
  background: #fbf9f7;
}

/* サロン・クリニックを探す */
.datsumou-search {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  font-size: 14px;
}
.datsumou-search__title {
  padding-top: 20px;
  font-size: 15px;
  font-weight: 600;
  text-align-last: left;
  color: #13131e;
}

.datsumou-searcharea__list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.datsumou-searcharea__list > li {
  width: 49.5%;
  margin-top: 1em;
  border: 1px solid #e1ddcc;
  border-radius: 4px;
  background: #fff;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
}
.datsumou-searcharea__list > li a {
  display: block;
  padding: 1em;
  color: #13121e;
  text-decoration: none;
}
.datsumou-searcharea__list > li p {
  margin-top: 1em;
}
.datsumou-searcharea__list > li span {
  font-size: 16px;
}

/* サロン・クリニックを探す */
.datsumou-search__list {
  border-bottom: 1px solid #e1ddcc;
  background: #fff;
  font-size: 14px;
}
.datsumou-area__list > li {
  font-size: 16px;
  text-align: left;
  border-top: 1px solid #e1ddcc;
  background: #fff;
}
.datsumou-area__list > li a {
  position: relative;
  display: block;
  width: 100%;
  padding: 22px 15px;
  color: #13121e;
  text-decoration: none;
}
.datsumou-area__list > li a .small {
  font-size: 14px;
}
.datsumou-area__list > li a img {
  padding-right: 10px;
}
.datsumou-area__list > li a::before {
  padding-right: 10px;
  color: #beba9b;
  font-size: 12px;
}
.datsumou-area__list > li:nth-child(2) a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  /* content: "\f007"; */
}

.datsumou-area__list > li:nth-child(3) a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f022";
}
.datsumou-area__list > li a::after {
  position: absolute;
  top: calc(50% - 8px);
  right: 16px;
  color: #d6ceb4;
  font-size: 16px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
}

/* ランキングから探す */
.datsumou-ranking {
  margin-top: 5px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  border-top: 1px solid #e1ddcc;
  border-bottom: 1px solid #e1ddcc;
  background: #fff;
  font-size: 14px;
}
.datsumou-ranking__title {
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.datsumou-ranking__tab {
}
.datsumou-ranking__tab input {
  display: none;
}
.datsumou-ranking__tab-search__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.datsumou-ranking__tab-search__list label {
  width: 30%;
  border: 1px solid #e1ddcc;
  border-radius: 4px;
  padding-top: 0.8em;
  margin-right: 1%;
  padding-bottom: 0.8em;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
.datsumou-ranking-panel-inner {
  display: none;
}
.datsumou-ranking__tab-search__list label:hover,
#tab01-01:checked ~ .datsumou-ranking__tab-search__list > .tab01-01_label,
#tab01-02:checked ~ .datsumou-ranking__tab-search__list > .tab01-02_label {
  border: 0;
  border: 1px solid #6aadbf;
  background: #6aadbf;
  color: #fff;
}

#tab01-01:checked ~ .datsumou-ranking-panel #panel01,
#tab01-02:checked ~ .datsumou-ranking-panel #panel02 {
  display: block;
}

.datsumou-ranking-panel__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
}
.datsumou-ranking-panel__list > li {
  width: 112px;
  text-align: center;
}
.datsumou-ranking-panel__list > li a{
  text-decoration: none;
}
.datsumou-ranking-panel__list > li img {
  padding-top: 1em;
  height: 100px;
  object-fit: contain;
}
.datsumou-ranking-panel__text {
  padding-top: 1em;
  font-weight: 600;
  font-size: 13px;
}
.datsumou-ranking-panel__evaluation {
  color: #e10000;
  font-size: 18px;
  font-weight: 600;
}
.datsumou-ranking-panel__evaluation::before {
  margin-right: 0.3em;
  color: #c4a63b;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  content: "\f521";
}
.datsumou-ranking-panel__evaluation.first::before {
  color: #c4a63b;
}
.datsumou-ranking-panel__evaluation.second::before {
  color: #a9acb9;
}
.datsumou-ranking-panel__evaluation.third::before {
  color: #bc8f6a;
}

.datsumou-ranking__btn {
  display: block;
  margin-top: 20px;
  padding: 1.1em;
  border-radius: 4px;
  background: #6aadbf;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

/* 新着口コミから探す */
.datsumou-evaluation {
  margin-top: 5px;
  background: #fff;
  font-size: 14px;
}
.datsumou-evaluation__title {
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.datsumou-evaluation-panel__list > li {
  position: relative;
  display: -webkit-box;
  display: flex;
  padding: 10px;
  padding-bottom: 0.6em;
  margin-bottom: 0.7em;
  background: #faf8f6;
}
.datsumou-evaluation-panel__list > li::after {
  position: absolute;
  top: calc(50% - 8px);
  right: 16px;
  color: #d6ceb4;
  font-size: 16px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
}
.datsumou-evaluation-panel__list > li .voice-box {
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 30px;
  box-sizing: border-box;
  color: #13121e;
  text-decoration: none;
}
.datsumou-evaluation-panel__list > li .voice-box a{
  text-decoration: none;
  color: #13121e;
}

.datsumou-evaluation-panel__list > li .voice-box a.datsumou-evaluation-panel__list__img{
  width: 100px;
}
.datsumou-evaluation-panel__list > li img {
  display: block;
  width: 100px;
  height: auto;
  margin-right: 10px;
}
.datsumou-evaluation-panel__text {
  font-size: 12px;
  text-align: left;
  width: calc( 100% - 110px );
}
.datsumou-evaluation-panel__title {
  font-size: 14px;
  font-weight: bold;
}
.datsumou-evaluation-panel__thin {
  margin-top: 0.5em;
  font-size: 12px;
  color: #797152;
}
.datsumou-evaluation-panel__star {
  margin-top: 0.5em;
  color: #e1e1e1;
  font-size: 14px;
}
.datsumou-evaluation-panel__star .orange {
  color: #ff6a00;
}
.datsumou-evaluation-panel__star .red {
  margin-right: 20px;
  margin-left: 1em;
  color: #e10000;
  font-weight: 600;
}
.datsumou-evaluation-panel__star .date {
  font-size: 11px;
  color: #595961;
}
.datsumou-evaluation__btn {
  display: block;
  margin-top: 1.4em;
  padding: 20px;
  border-radius: 4px;
  background: #6aadbf;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

/* Purilの3つの特徴 */
.datsumou-characteristic {
  margin-top: 5px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  border-top: 1px solid #e1ddcc;
  background: #fff;
  font-size: 14px;
}
.datsumou-characteristic__title {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.datsumou-characteristic-inner {
  padding-top: 4px;
  padding-right: 9%;
  padding-left: 9%;
  text-align: center;
}
.datsumou-characteristic-inner img {
  padding-top: 35px;
}
.datsumou-characteristic-inner__title {
  padding-top: 26px;
  font-size: 16px;
  font-weight: 600;
}
.datsumou-characteristic-inner__text {
  padding-top: 35px;
  text-align: left;
  line-height: 18px;
}

/* バナー */
.datsumou-bnr {
  width: 100%;
}

.datsumou-footer {
  background: #fbf9f7;
}
.datsumou-footer__category01,
.datsumou-footer__category02,
.datsumou-footer__category03 {
  padding-right: 15px;
  padding-left: 15px;
  display: -webkit-box;
  display: flex;
  background: #fff;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}
.datsumou-footer__category01 {
  padding-top: 20px;
}
.datsumou-footer__category03 {
  padding-bottom: 20px;
}
.datsumou-footer__category:not(:last-child) {
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
  flex-direction: inherit;
  -webkit-box-pack: center;
  justify-content: center;
  height: auto;
}

.datsumou-footer__category--type {
  display: -webkit-box;
  display: flex;
  width: 100%;
  padding: 0;
  border: 0;
}

.datsumou-footer__category__li__link {
  font-size: 10px;
  color: #007cd6;
  margin: 0 10px;
  text-decoration: none;
  line-height: 2em;
}
.datsumou-footer__category__li.last {
  width: 100%;
  text-align: center;
}

.datsumou-footer__credit {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 1em;
  font-size: 10px;
  background: #6aadbf;
  color: #fff;
}

/* パンくず */
.Search__breadcrumbs {
  width: 100%;
  height: auto;
  margin-top: 1em;
  border-top: 1px solid #e1ddcc;
  border-bottom: 1px solid #e1ddcc;
  background: #fbf9f7;
}
.Search__breadcrumbs ol {
  max-width: 1080px;
  margin: 0 auto;
  height: 100%;
  list-style: none;
  padding: 10px 15px;
  font-size: 13px;
  display:block;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow: auto;
  white-space: nowrap;
}
.Search__breadcrumbs ol {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.Search__breadcrumbs ol::-webkit-scrollbar {
  display:none;
}
.Search__breadcrumbs li {
  position: relative;
  display:inline;
  padding-right:0;
}
.Search__breadcrumbs li::after {
  content: ">";
  padding: 0 5px;
  color: #beba9b;
}
.Search__breadcrumbs li:last-child::after {
  content: "";
}
.Search__breadcrumbs .home {
  color: #baba9b;
}

.Search__input__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid #6aadbf;
  border-radius: 5px;
  background: #fff;
  font-size: 14px;
  overflow: hidden;
}
.Search__input__inner .input1 {
  width: calc(100% - 20px);
  border-radius: 4px 0 0 4px;
  background: #f4f4f4;
}
.Search__input__inner .input2 {
  position: relative;
  width: calc(55% - 20px);
  background: #f4f4f4;
}
.Search__input__inner .input2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #dadada;
}
.Search__input__inner .input1 input,
.Search__input__inner .input2 input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 0;
  background: #fff;
}
.Search__input__inner .input1 input::-webkit-input-placeholder,
.Search__input__inner .input2 input::-webkit-input-placeholder {
  color: #757575;
}
.Search__input__inner .input1 input::-moz-placeholder,
.Search__input__inner .input2 input::-moz-placeholder {
  color: #757575;
}
.Search__input__inner .input1 input:-ms-input-placeholder,
.Search__input__inner .input2 input:-ms-input-placeholder {
  color: #757575;
}
.Search__input__inner .input1 input::-ms-input-placeholder,
.Search__input__inner .input2 input::-ms-input-placeholder {
  color: #757575;
}
.Search__input__inner .input1 input::placeholder,
.Search__input__inner .input2 input::placeholder {
  color: #757575;
}
.Search__input__inner .search {
  width: 42px;
  height: 40px;
  border: 0;
  background: #6aadbf;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media screen and (min-width: 600px) {
  .datsumou-header-inner {
    left: calc( 50% - 300px );
  }
  .datsumou-header-inner__navToggle {
    right: calc( 50% - 290px );
  }
  .datsumou-header-mv-inner {
    font-size: 24px;
  }
  .datsumou-header-inner__globalmenusp {
    right: calc( 50% - 300px );
    opacity: 0;
  }
  .datsumou-header-inner__globalmenusp.active {
    opacity: 1;
  }
}
