.search-condition {
  border-top: 1px solid #E0DCCC;
  border-bottom: 1px solid #E0DCCC;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 16px; }
  .search-condition .search-condition-text {
    font-size: 13px; }
  .search-condition .button-base.search-condition-change {
    padding: 1em;
    background-color: #82AE25; }
    .search-condition .button-base.search-condition-change .search-condition-change-text {
      padding-left: .5em; }

.search-shop {
  background-color: #ffffff; }
  .search-shop .search-shop-list {
    background-color: #F9F7F5; }
  .search-shop .search-shop-list .search-shop-item {
    border-bottom: 1px solid #e1ddcc;
    border-top: 1px solid #e1ddcc;
  }
    .search-shop .search-shop-list .search-shop-item:not(:first-child) {
      margin-top: 5px; }
    .search-shop .search-shop-list .search-shop-item .search-shop-title {
      padding: 1em 16px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .search-shop .search-shop-list .search-shop-item .search-shop-title .search-shop-title-text {
        font-size: 16px;
        font-weight: bold; }
      .search-shop .search-shop-list .search-shop-item .search-shop-title .search-shop-title-tags {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; }
    .search-shop .search-shop-list .search-shop-item .search-shop-title-sub {
      padding: 0 16px 1em 16px; }
    .search-shop .search-shop-list .search-shop-item .search-shop-photo-area {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      height: 137px;
     }
      .search-shop .search-shop-list .search-shop-item .search-shop-photo-area .search-shop-photo {
        border-left: 1px solid #fff;
        border: 1px solid #e0dccc;
        background-color: #F8F8F8;
        border-right: none;
        width: 100%; }
        .search-shop .search-shop-list .search-shop-item .search-shop-photo-area .search-shop-photo:last-child {
          border-right: 1px solid #e0dccc;}
        .search-shop .search-shop-list .search-shop-item .search-shop-photo-area .search-shop-photo img {
          width: 100%;
          display: block;
          object-fit: cover;
          height: 100%;
    }
    .search-shop .search-shop-list .search-shop-item .search-shop-tips {
      padding: 1em 16px 0 16px;
      color: #595960; }
    .search-shop .search-shop-list .search-shop-item .search-shop-label {
      padding: 15px 16px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .search-shop .search-shop-list .search-shop-item .search-shop-label .search-shop-review {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
    .search-shop .search-shop-list .search-shop-item .search-shop-desc {
      display: block;
      text-decoration: none;
      color: #13131E;
      padding: 15px 16px 0 16px; }
      .search-shop .search-shop-list .search-shop-item .search-shop-desc .search-shop-desc-title {
        font-size: 14px;
        font-weight: bold; }
      .search-shop .search-shop-list .search-shop-item .search-shop-desc .search-shop-desc-text {
        padding: 10px 0; }
    .search-shop .search-shop-list .search-shop-item .search-shop-info {
      padding: 0em 16px 1em 16px; }
      .search-shop .search-shop-list .search-shop-item .search-shop-info table {
        width: 100%; }
        .search-shop .search-shop-list .search-shop-item .search-shop-info table th, .search-shop .search-shop-list .search-shop-item .search-shop-info table td {
          padding: 1em;
          border: 1px solid #E0DCCC; }
        .search-shop .search-shop-list .search-shop-item .search-shop-info table th {
          width: 130px;
          background-color: #F9F7F5; }

.search-shop-best {
  padding: 1.5em 16px; }
  .search-shop-best .search-shop-best-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;}
    .search-shop-best .search-shop-best-list .search-shop-best-item {
      width: 33%;
      text-align: center; }
      .search-shop-best .search-shop-best-list .search-shop-best-item .search-shop-best-rank {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
           -moz-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        font-size: 18px; }
        .search-shop-best .search-shop-best-list .search-shop-best-item .search-shop-best-rank .search-shop-best-rank-point {
          padding-left: .25em;
          color: #FF4E4E;
          font-weight: bold; }
      .search-shop-best .search-shop-best-list .search-shop-best-item .search-shop-best-img {
        padding: 1em 0;
        height: 100px; }
      .search-shop-best .search-shop-best-list .search-shop-best-item .search-shop-best-name {
        padding-bottom: 1.5em; }
  .search-shop-best .search-shop-ranking .search-shop-rainking-button {
    background-color: #ffffff;
    color: #13131E;
    font-weight: bold;
    border: 1px solid #6AADBF; }

/*--- pager --------*/
.pager {
  text-align: center;
}
.pager .pagenation {
  display: inline-block;
  margin: 0 auto 35px;
  max-width: 440px;
}
.pager .pagenation .pagenation-page-list-wrap {
  float: left;
}
.pager .page-numbers {
  width: 30px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  color: #e1ddcc;
  float: left;
  border-top: 1px solid #e1ddcc;
  border-bottom: 1px solid #e1ddcc;
  border-left: 1px solid #e1ddcc;
  cursor: pointer;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  opacity: 1;
  box-sizing: border-box;
  background: #fff;
}
.pager .page-numbers:last-child {
  border-right: 1px solid #e1ddcc;
}
.pager .page-numbers a {
  display: block;
  text-decoration: none;
  color: #13131E;
}
.pager .page-numbers a:hover,
.pager .page-numbers.active {
  color: #13131E;
  background: #F9F7F5;
}
.pagenation-prev,
.pagenation-next {
  float: left;
}
.pager .pagenation-prev .prev,
.pager .pagenation-next .next {
  display: block;
  height: 30px;
  box-sizing: border-box;
  font-size: 15px;
  color: #13131E;
  padding: 0 10px;
  line-height: 30px;
  border-top: 1px solid #e1ddcc;
  border-bottom: 1px solid #e1ddcc;
  text-decoration: none;
}
.pager .pagenation-prev .prev {
  border-left: 1px solid #e1ddcc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pager .pagenation-next .next {
  border-right: 1px solid #e1ddcc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.pager .pagenation-prev .prev:hover,
.pager .pagenation-next .next:hover {
  text-decoration: none;
  color: #13131E;
  background: #F9F7F5;
}
.pager .pagenation-page-list-wrap {
  position: relative;
}
.pager .pagenation-page-list-wrap .pagenation-page-list-before {
  position: absolute;
  left: 0;
  bottom: 29px;
  z-index: 1;
  display: none;
}
.pager .pagenation-page-list-wrap:hover .pagenation-page-list-before{
  display: block;
}
.pager .pagenation-page-list-before .page-numbers {
  margin: -1px 0 0 0;
}
.pager .pagenation-page-list-before .page-numbers:nth-child(7n) {
  border-right: 1px solid #e1ddcc;
}

.pager .pagenation-page-list-wrap .pagenation-page-list-after {
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 1;
  display: none;
}
.pager .pagenation-page-list-wrap:hover .pagenation-page-list-after{
  display: block;
}
.pager .pagenation-page-list-after .page-numbers {
  margin: -1px 0 0 0;
}
.pager .pagenation-page-list-after .page-numbers:nth-child(7n) {
  border-right: 1px solid #e1ddcc;
}
@media ( max-width: 767px) {
  /*--- pager --------*/
  .pager .pagenation {
    margin: 15px auto;
    max-width: 100%;
  }

  .pager .page-numbers {
    width: 6.6vw;
    height: 6.6vw;
    font-size: 2.8vw;
    letter-spacing: -0.2vw;
    line-height: 6.6vw;
  }

  .pager .pagenation-prev .prev,
  .pager .pagenation-next .next {
    height: 6.6vw;
    font-size: 3vw;
    padding: 0 2vw;
    line-height: 6.6vw;
  }

  .pager .pagenation-prev .prev {
    border-top-left-radius: 1.3vw;
    border-bottom-left-radius: 1.3vw;
  }

  .pager .pagenation-next .next {
    border-top-right-radius: 1.3vw;
    border-bottom-right-radius: 1.3vw;
  }

  .pager .pagenation-page-list-wrap .pagenation-page-list-before {
    bottom: 6.5vw;
  }

  .pager .pagenation-page-list-wrap .pagenation-page-list-after {
    top: 6.6vw;
  }
}