.reserve-section .reserve-question-mod {
  padding-bottom: 0 !important; }

.reserve-section .reserve-question {
  padding: 10px 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .reserve-section .reserve-question .reserve-question-text {
    font-weight: bold; }
  .reserve-section .reserve-question .reserve-tag {
    border-radius: .5em;
    color: #ffffff;
    font-size: 10px;
    padding: .375em;
    margin-left: 1em; }
  .reserve-section .reserve-question .reserve-tag-required {
    background-color: #FF4E4E; }
  .reserve-section .reserve-question .reserve-tag-option {
    background-color: #0065CC; }

.reserve-section .reserve-question-sub {
  padding: 10px 16px; }

.reserve-section .reserve-input {
  padding: 10px 16px; }
  .reserve-section .reserve-input input, .reserve-section .reserve-input select {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 44px;
    border: 1px solid #BEB99B;
    border-radius: 4px;
    padding: 0 1em;
    font-size: 13px;
    width: 100%;
    background-color: #ffffff; }
  .reserve-section .reserve-input textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #BEB99B;
    border-radius: 4px;
    padding: 1em;
    font-size: 13px;
    width: 100%;
    background-color: #ffffff; }
  .reserve-section .reserve-input .reserve-input-inner {
    position: relative;
    width: 100%; }
    .reserve-section .reserve-input .reserve-input-inner .reserve-input-arrow {
      position: absolute;
      right: 20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
              transform: translateY(-50%);
      color: #707070; }
  .reserve-section .reserve-input .reserve-input-parent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .reserve-section .reserve-input .reserve-input-parent .reserve-input-child:not(:first-child) {
      padding-left: 10px; }
    .reserve-section .reserve-input .reserve-input-parent .reserve-input-child {
      width: 100%; }
      .reserve-section .reserve-input .reserve-input-parent .reserve-input-child .reserve-subquestion-text {
        padding-top: 0;
        padding-bottom: 10px; }
  .reserve-section .reserve-input .reserve-input-born {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .reserve-section .reserve-input .reserve-input-born .reserve-input-born-common {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .reserve-section .reserve-input .reserve-input-born .reserve-input-born-common span {
        padding: 0 .5em; }
    .reserve-section .reserve-input .reserve-input-born .reserve-input-year {
      width: 40%; }
    .reserve-section .reserve-input .reserve-input-born .reserve-input-month {
      width: 30%; }
    .reserve-section .reserve-input .reserve-input-born .reserve-input-day {
      width: 30%; }
  .reserve-section .reserve-input .reserve-input-datetime:not(:last-child) {
    margin-bottom: 5px; }
  .reserve-section .reserve-input .reserve-input-datetime {
    display: block; }
  .reserve-section .reserve-input .reserve-input-radio-wrap:not(:first-child) {
    margin-top: 10px; }
  .reserve-section .reserve-input .reserve-input-radio-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .reserve-section .reserve-input .reserve-input-radio-wrap .reserve-input-radio:not(:first-child) {
      padding-left: 10px; }
    .reserve-section .reserve-input .reserve-input-radio-wrap .reserve-input-radio {
      width: 100%; }
      .reserve-section .reserve-input .reserve-input-radio-wrap .reserve-input-radio input {
        display: none; }
      .reserve-section .reserve-input .reserve-input-radio-wrap .reserve-input-radio input[type="radio"]:checked + .reserve-input-inner > span {
        background-color: #6AADBF; }
      .reserve-section .reserve-input .reserve-input-radio-wrap .reserve-input-radio span {
        padding: 1em;
        border: 1px solid #BEB99B;
        border-radius: 4px;
        background-color: #ffffff;
        display: block; }
    .reserve-section .reserve-input .reserve-input-radio-wrap .reserve-input-radio-void {
      visibility: hidden; }

.reserve-section .reserve-scroll-select {
  padding: 10px 0; }
  .reserve-section .reserve-scroll-select ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto; }
    .reserve-section .reserve-scroll-select ul li {
      padding: 0 .5em; }
      .reserve-section .reserve-scroll-select ul li .reserve-scroll-select-item {
        display: block;
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: #ffffff;
        border-radius: .25em;
        padding: 1em 1.5em;
        background-color: #6AADBF; }

.reserve-section .reserve-subquestion .reserve-subquestion-text-top {
  padding: 0 16px; }

.reserve-section .reserve-subquestion .reserve-subquestion-first {
  padding: 0 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
     -moz-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  .reserve-section .reserve-subquestion .reserve-subquestion-first .reserve-subquestion-first-step {
    background-color: #6AADBF;
    font-weight: bold;
    color: #ffffff;
    padding: .25em;
    font-size: 11px;
    border-radius: .25em; }
  .reserve-section .reserve-subquestion .reserve-subquestion-first .reserve-subquestion-first-text {
    padding-left: .75em; }

.reserve-section .reserve-subquestion .reserve-subquestion-text {
  font-weight: bold;
  font-size: 13px;
  color: #797152;
  display: block;
  padding-top: 10px; }

.reserve-section .reserve-subquestion .reserve-email-desc {
  padding: 10px 16px;
  margin-bottom: 10px; }

.reserve-section .reserve-button-area {
  padding: 1.75em 16px;
  margin-bottom: 10px; }
  .reserve-section .reserve-button-area .reserve-button {
    background-color: #82AE25;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    padding: 1em;
    width: 100%;
    border-radius: 4px; }


/* /form_userへの追記 */
.form-user.reserve-form {
  background: #fff;
}
.form-user .contact-content {
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px solid #E0DCCC;
  background: #fff;
}
.form-user .reserve-title {
  margin-bottom: 15px;
  padding: 8px 0 7px 15px;
  background: #6AADBF;
  color: #fff;
  font-size: 13px;
}
.form-user .contact-content-text {
  padding: 0 10px;
}
.form-user .reserve-section {
  margin: 20px 10px;
  padding: 0 10px 10px;
  background: #F9F7F5;
}
.form-user .reserve-section * {
  padding: 0;
}

.form-user .reserve-question {
  padding-top: 15px;
  padding-bottom: 10px;
}
.form-user .reserve-question-text,
.form-user .reserve-section .reserve-subquestion .reserve-subquestion-text {
  position: relative;
  padding: 0;
  padding-left: 9px;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
}
.form-user .reserve-question-text::before,
.form-user .reserve-section .reserve-subquestion .reserve-subquestion-text::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 4px;
  height: 20px;
  background: #BCB189;
  content: '';
}
.form-user .reserve-section .reserve-subquestion .reserve-email-desc {
  font-size: 10px;
  padding: 0;
  padding-top: 10px;
}

.form-user .terms-section {
  height: 160px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #E0DCCC;
  overflow-y: hidden;
}

.form-user .reserve-button-area {
  background: #fff;
}
.form-user .reserve-section .reserve-subquestion .reserve-email-desc 