body {
    font-family: Helvetica, Arial, Hiragino Sans, "ヒラギノ角ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif !important;
}

.reserve-form {
    background: white;
    border-top: 1px solid #E0DCCC;
}

textarea {
    resize: none!important;
}

.reserve-section .reserve-input input#shop_name {
    background-color: #EEECE4;
}

.reserve-question-mod {
    margin-top: 5px;
}

.reserve-title {
    border-top: none;
    font-size: 16px;
    font-weight: 600;
}

.reserve-tag-required {
    padding: 3px !important;
    background: #E64C30 !important;
    color: white !important;
    border-radius: 2px !important;
    font-size: 11px !important;
    font-weight: 600 !important;
    width: 28px !important;
    flex: none !important;
}

#man+div span,
#woman+div span {
    text-align: center !important;
}

.reserve-section .reserve-input .reserve-input-radio-wrap .reserve-input-radio input[type="radio"]:checked+.reserve-input-inner>span {
    padding: 12px !important;
    border-color: #BCB08A;
    border: none !important;
}

.reserve-input-inner span {
    padding: 12px !important;
}

#woman:checked+.reserve-input-inner>span {
    color: white !important;
    background: #FF9FC0 !important;
    margin-left: 0 !important;
}

.reserve-input-inner span {
    font-size: 12px !important;
}

.reserve-section .reserve-input {
    padding: 10px 10px 0px !important;
}

.reserve-section .reserve-question,
.reserve-section .reserve-subquestion .reserve-subquestion-first {
    padding: 20px 10px 10px;
}

.reserve-subquestion-text {
    font-weight: 600 !important;
}

.color-main {
    font-size: 12px !important;
    color: #463E2C !important;
}

.color-sub {
    font-size: 13px !important;
    color: #797152 !important;
}

.reserve-email-desc {
    line-height: 15px;
    font-size: 10px;
    color: #13121E;
}

.reserve-section .reserve-subquestion .reserve-subquestion-text-top {
    padding-left: 10px !important;
}

#reserve_table {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    #reserve_table th {
        font-size: 11px;
        line-height: 15.4px;

    }
}

.reserve-confirm-content {
    margin-top: 20px;
}

.reserve-confirm-content a {
    color: #0463CB;
}

.reserve-section .reserve-button-area {
    padding: 20px 16px;
    margin-bottom: 0px;
}

.reserve-section .reserve-button-area .reserve-button {
    border-color: #82AE25;
}


.calendar-weeks {
    display: flex;
    justify-content: space-between;
}

.calendar-week {
    color: black;
    font-size: 13px;
    font-weight: 300;
    border:1px #6AADBF solid;
    border-radius: 4px;
    padding:10px 38px;
    position: relative;
}

.calendar-week.disable {
    color: #C1C4C5;
}

#reserve_table th{
    background: #EEECE4;
    vertical-align: middle;
}

.calendar-cell {
    padding: 0 !important;
    height: 34px !important;
    vertical-align: middle !important;
}

.calendar-cell-text {
    line-height: 6px;
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
    background: #6AADBF;
    display: inline-block;
    border-radius: 12px;
    color: white;
}

.calendar-date-time-wrap {
    width: 100%;
    display: block;
    margin-top: 10px;
}

.calendar-date-time {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 1px solid #BEB99B;
    border-radius: 4px;
    padding: 3px 10px;
    margin: 5px 0;
}

.calendar-date-time p {
    flex: 1;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    padding: 11px 0;
}

.calendar-date-time p:first-of-type {
    border-right: solid 1px #BEB99B;
}

#calendar-input-area {
    display: none;
}

.reserve-confirm-content-policy {
    font-size:12px !important
}

.reserve-subquestion-first {
    margin:0 auto;
}

.main_text {
    width: 250px;
    margin:0;
}

.fas-left {
    left: 10px;
}

.fas-right {
    right: 10px;
}

.reserve-input-arrow {
    color: #463F2D !important;
}

.calendar-weeks .fas {
    position: absolute;
    color:#6AADBF !important
}

.want_day {
    width:100%;
}

.question-area table td .td-inner-wrap .td-inner .select .fa-chevron-down {
    right: 10px;
    padding: 0;
}

.fa-chevron-down {
    right: 15px!important;
    padding: 0;
}

.question-area table td .td-inner.flex>.wrap {
    margin-right: 6px!important;
}

.question-area table td .td-inner.flex > span {
    flex: 0 1 auto;
    font-size: 12px;
}

.required-question {
    padding-top: 44px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    align-items: flex-start !important;
    padding-bottom: 12px !important;
}

.reserve-input-born {
    font-size: 12px !important;
}

#reserve_table tr, #reserve_table th, #reserve_table td{ border: 1px solid #EEECE4; }